* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748b;
  font-size: 12px;
}

.nav-item i{
  font-size: 18px;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748b;
  text-decoration: none;
}

nav a:hover {
  color: #0f172a;
  text-decoration: none;
}

.nav-item-active {
  color: #0f172a;
  font-weight: 500;
}

.header-right{
  width: 20%;
}

.avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.create-order-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.create-order-title a {
  margin-right: 5px;
  color: #767676;
}

.create-order-title a:hover {
  color: #767676;
  opacity: 0.75;
}

.create-order-title span {
  font-weight: 500;
  font-size: 20px;
  color: #0f172a;
}

.btn-cancel {
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 8px;
  border: transparent;
}


.create-order-body-detail {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.create-order-body-main {
  width: 65%;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.create-order-body-main h6 {
  margin-bottom: 20px;
  font-weight: 600;
}

.form-control, .form-select {
  padding: 10px 16px;
}

.create-order-body-name {
  margin-bottom: 30px;
}

.order-body-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-body-item {
  width: 49%;
  color: #64748b;
}

.create-order-receive {
  padding: 16px;
  border: 1px solid #edf2f7;
  border-radius: 8px;
  background-color: #edf2f7;
}

.create-order-receive span {
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

.create-order-quantity {
  display: flex;
}

.create-order-quantity button {
  background-color: #f8fafc;
  color: #0f172a;
  border: transparent;
  border-radius: 8px;
  padding: 12px 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-order-quantity span {
  background-color: #fff;
  border: 1px solid #e8ebf0;
  border-radius: 8px;
  padding: 12px 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.create-order-body-main td {
  vertical-align: middle;
}

.order-bill {
  width: 30%;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  height: fit-content;
}

.order-bill h6 {
  margin-bottom: 20px;
  font-weight: 600;
}

.order-bill div {
  display: flex;
  justify-content: space-between;
}

.order-bill div p {
  font-size: 14px;
  font-weight: 400;
}

.discount-label {
  color: #1d92ff;
}

.order-bill div .payment-label {
  font-weight: 600;
}

.order-bill div .payment-amount {
  color: #1d92ff;
  font-size: 16px;
  font-weight: 600;
}

.modal-content {
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.create-receive-bill-modal input,
textarea {
  border: 1px solid #edf2f7 !important;
}

.btn-cancel-modal {
  background-color: #eff5ff;
  padding: 6px 12px;
  transition: 0.15s all;
}

.btn-cancel-modal:hover {
  background-color: #eff5ff;
  opacity: 0.75;
  transition: 0.15s all;
}

.modal-add-group-list{
  width: 200px;
}
