* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748B;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748B;
  text-decoration: none;
}

nav a:hover {
  color: #0F172A;
  text-decoration: none;
}

.nav-item-active{
    color: #0F172A;
    font-weight: 500;
}

.header-right{
  width: 20%;
}

.avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.customer-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.customer-button-option button {
  background-color: #334155;
  padding: 4px 12px;
  border-radius: 32px;
  color: #fff;
  margin-right: 5px;
}

.customer-detail-table {
  border-radius: 4px;
  overflow: hidden;
}

.customer-detail {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.customer-detail tr {
  padding: 8px 0px;
}

.customer-detail th {
  padding: 20px 16px;
}

.customer-detail th:first-child input{
  margin-right: 10px;
}

.customer-detail td {
  padding: 10px 0px 10px 16px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
}

.customer-detail td:first-child input{
  margin-right: 10px;
}

.customer-detail td a{
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.customer-detail-id a{
  font-size: 16px !important;
  font-weight: 400;
  color: #1890FF !important;
  transition: 0.3s all;
}

.customer-detail-id a:hover{
  opacity: 0.75;
  transition: 0.3s all;
}

.customer-detail-revenue{
  color: #10A35E !important;
  font-weight: 400;
  font-size: 14px;
}

.modal-header{
  background-color: #F8FAFC;
}

.form-control{
  padding: 10px 16px;
}

.modal-body input{
  margin-bottom: 15px;
}

.btn-cancel-modal {
  background-color: #eff5ff;
  padding: 6px 12px;
  transition: 0.15s all;
}

.btn-cancel-modal:hover {
  background-color: #eff5ff;
  opacity: 0.75;
  transition: 0.15s all;
}

.modal-body .input-file {
  position: relative;
  cursor: pointer;
  width: 25%;
  height: 55px;
}

.modal-body .input-file #input-upload {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.modal-body .upload-image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.5px dashed #1890ff;
  background-color: #f0f6ff;
  width: 100%;
  color: #1890ff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.modal-body .upload-image:hover {
  opacity: 0.75;
  transition: 0.3s;
}

.upload-image i {
  margin-right: 10px;
}