* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748B;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748B;
  text-decoration: none;
}

nav a:hover {
  color: #0F172A;
  text-decoration: none;
}

.nav-item-active{
    color: #0F172A;
    font-weight: 500;
}

.content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.button-header button {
  margin-left: 10px;
  border-radius: 7px;
}

.item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.item h6 {
  font-weight: 700;
  margin-bottom: 10px;
}

.information-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.information-box div {
  width: 24%;
}

.nav-pills li {
  margin-top: 10px;
  margin-right: 10px;
}

.nav-pills .nav-link.active {
  padding: 6px 16px 6px 16px;
  background-color: transparent; 
  border: 1px solid #f5f5f5;
  color: #007bff; 
  border-radius: 32px;
  margin-bottom: 15px;
}

.nav-pills .nav-link {
  padding: 6px 16px 6px 16px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 32px;
  margin-bottom: 15px;
  color: black
}

.detail-item {
  margin-bottom: 15px;
}

.detail-item label{
  color: #64748B;
}

.quill{
  background-color: #f8fafc;
  margin-bottom: 2px;
  border-radius: 5px;
  margin-top: 10px;
}