* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748b;
  font-size: 12px;
}

.nav-item i {
  font-size: 18px;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748b;
  text-decoration: none;
}

nav a:hover {
  color: #0f172a;
  text-decoration: none;
}

.nav-item-active {
  color: #0f172a;
  font-weight: 500;
}

.header-right {
  width: 20%;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.manage-account-detail-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.manage-account-detail-title {
  vertical-align: middle;
}

.manage-account-detail-title a {
  margin-right: 5px;
  color: #767676;
}

.manage-account-detail-title .manage-account-detail-name {
  font-weight: 500;
  font-size: 20px;
  color: #0f172a;
}

.manage-account-detail-title .manage-account-detail-id {
  color: #1d92ff;
  font-weight: 500;
  font-size: 20px;
  margin: 0px 10px;
}

.manage-account-detail-title .manage-account-detail-unpaid {
  padding: 4px 12px;
  border-radius: 200px;
  background-color: #fffcf0;
  font-weight: 400;
  font-size: 16px;
  color: #d4962a;
  border: none;
}

.manage-account-detail-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 40px 40px 40px;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
}

.manage-account-detail-main div {
  width: 48%;
  padding: 10px 0px;
  border-bottom: 1px solid #f0f0f0;
}

.manage-account-detail-main div p:first-child {
  color: #64748b;
  font-size: 16px;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748b;
  font-size: 12px;
}

.nav-item i {
  font-size: 18px;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748b;
  text-decoration: none;
}

nav a:hover {
  color: #0f172a;
  text-decoration: none;
}

.nav-item-active {
  color: #0f172a;
  font-weight: 500;
}

.header-right {
  width: 20%;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.manage-account-detail-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.manage-account-detail-title {
  vertical-align: middle;
}

.manage-account-detail-title a {
  margin-right: 5px;
  color: #767676;
}

.manage-account-detail-title .manage-account-detail-name {
  font-weight: 500;
  font-size: 20px;
  color: #0f172a;
}

.manage-account-detail-title .manage-account-detail-id {
  color: #1d92ff;
  font-weight: 500;
  font-size: 20px;
  margin: 0px 10px;
}

.manage-account-detail-title .manage-account-detail-unpaid {
  padding: 4px 12px;
  border-radius: 200px;
  background-color: #fffcf0;
  font-weight: 400;
  font-size: 16px;
  color: #d4962a;
  border: none;
}

.manage-account-detail-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 40px 40px 40px;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
}

.manage-account-detail-main div {
  width: 48%;
  padding: 10px 0px;
  border-bottom: 1px solid #f0f0f0;
}

.manage-account-detail-main div p:first-child {
  color: #64748b;
  font-size: 16px;
  font-weight: 400;
}

.manage-account-detail-change-password button {
  color: #1890ff;
  background-color: #f5faff;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
}

.manage-admin-detail-table {
  border-radius: 4px;
  overflow: hidden;
}

.manage-admin-detail {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.manage-admin-detail tr {
  padding: 8px 0px;
}

.manage-admin-detail th {
  padding: 20px 16px;
}

.manage-admin-detail td {
  padding: 10px 0px 10px 16px;
  vertical-align: middle;
}

.manage-admin-detail p {
  margin: 0;
}

.manage-admin-detail-id a {
  color: #1890ff !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s all;
}

.manage-admin-detail-id a:hover {
  opacity: 0.75;
  transition: 0.3s all;
}

.manage-admin-detail-information {
  width: 30%;
}

.manage-admin-detail-admin-name p:last-child {
  color: #d4962a;
}

.manage-admin-detail-sale-name p:last-child {
  color: #1890ff;
}

.manage-admin-active-now button {
  background-color: #f0fff4;
  color: #10a35e;
  border: transparent;
  padding: 4px 16px 4px 16px;
  border-radius: 200px;
}

.manage-admin-blocking button {
  background-color: #fffcf0;
  color: #d4962a;
  border: transparent;
  padding: 4px 16px 4px 16px;
  border-radius: 200px;
}

.manage-admin-deleted button {
  background-color: #ffe1e7;
  color: #c21f27;
  border: transparent;
  padding: 4px 16px 4px 16px;
  border-radius: 200px;
}

.manage-admin-detail-status-full {
  text-align: center;
}

.manage-admin-detail-status-full button {
  background-color: #eff5ff;
  color: #1890ff;
  border: transparent;
  padding: 4px 12px 4px 12px;
  border-radius: 200px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.manage-admin-detail-action a {
  color: #fff;
  text-decoration: none;
}

.manage-admin-detail-action-disable button {
  background-color: #cbd5e1;
  padding: 4px 12px 4px 12px;
  border: transparent;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
}

.modal-header{
  background-color: #F8FAFC;
}

.form-control,
.form-select {
  padding: 10px 16px;
}

.modal-body input,
.modal-body textarea {
  margin-bottom: 15px;
}

.modal-content {
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.btn-cancel-modal {
  background-color: #eff5ff;
  padding: 6px 12px;
  transition: 0.15s all;
}

.btn-cancel-modal:hover {
  background-color: #eff5ff;
  opacity: 0.75;
  transition: 0.15s all;
}