* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748b;
  font-size: 12px;
}

.nav-item i {
  font-size: 18px;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748b;
  text-decoration: none;
}

nav a:hover {
  color: #0f172a;
  text-decoration: none;
}

.nav-item-active {
  color: #0f172a;
  font-weight: 500;
}

.order-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.header-right {
  width: 20%;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.order-title {
  vertical-align: middle;
}

.order-title a {
  margin-right: 5px;
  color: #767676;
}

.order-title .order-name {
  font-weight: 500;
  font-size: 20px;
  color: #0f172a;
}

.order-title .order-id {
  color: #1d92ff;
  font-weight: 500;
  font-size: 20px;
  margin: 0px 10px;
}

.order-title .order-in-progress {
  padding: 4px 12px;
  border-radius: 200px;
  background-color: #fffcf0;
  font-weight: 400;
  font-size: 16px;
  color: #d4962a;
  border: none;
}

.order-title-btn {
  display: flex;
}

.btn-cancel-order {
  border-radius: 4px;
  border: 1px solid #edf2f7;
  background-color: #fff;
  color: #d32030;
}

.btn-edit-order {
  border-radius: 4px;
  border: 1px solid #edf2f7;
  background-color: #fff;
  margin: 0px 5px;
}

.btn-edit-order a{
  text-decoration: none;
  color: #1d92ff;
}

.order-button-option button {
  background-color: #334155;
  padding: 4px 12px;
  border-radius: 32px;
  color: #fff;
  margin-right: 5px;
}

.order-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.order-title a {
  margin-right: 5px;
  color: #767676;
}

.order-title a:hover {
  color: #767676;
  opacity: 0.75;
}

.order-title span {
  font-weight: 500;
  font-size: 20px;
  color: #0f172a;
}

.btn-cancel {
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 8px;
  border: transparent;
}

.order-body-detail {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.order-body-main {
  width: 70%;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.order-body-main h6 {
  margin-bottom: 20px;
  font-weight: 600;
}

.modal-content label{
  color: #94A3B8;
}

.form-control, .form-select {
  padding: 10px 16px;
}

.order-information {
  border-bottom: 1px solid #edf2f7;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.order-information div p:first-child{
  width: 20%;
  color: #64748B;
}

.order-information div p:last-child{
  width: 80%;
  font-weight: 400;
  font-size: 16px;
  color: #0F172A;
}

.order-information .order-information-service p:last-child{
  font-weight: 600;
  font-size: 16px;
  color: #0F172A;
  text-transform: uppercase;
}

.order-information-title {
  color: #64748b;
  width: 20%;
}

.order-information-content{
  width: 80%;
}

.order-information-content h6 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.order-information-content p {
  font-weight: 400;
  font-size: 16px;
  color: #0f172a;
}

.order-title {
  margin-top: 20px;
}

.order-payment {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.order-payment-information {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.order-payment button{
  margin: 10px 0px;
}

.total-amount,
.paid,
.debt p:first-child {
  color: #64748b;
  font-weight: 400;
}

.total-amount p:last-child {
  color: #0f172a;
  font-weight: 400;
}

.paid p:last-child {
  color: #1d92ff;
  font-weight: 400;
}

.debt p:last-child {
  color: #d32030;
  font-weight: 600;
  font-size: 16px;
}

.order-table-history-payment {
  padding-bottom: 10px;
  border-bottom: 1px solid #edf2f7;
}

.order-bill{
  padding: 10px 0px;
  border-bottom: 1px solid #EDF2F7;
}

.order-bill-empty {
  width: 50%;
}

.order-bill-content {
  width: 50%;
}

.order-bill-content div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #edf2f7;
}

.order-bill-content div:last-child{
  border-bottom: none;

}

.order-bill-content div p:first-child {
  color: #64748b;
}

.order-body-bill-provisional p:last-child,
.order-body-bill-vat p:last-child {
  font-weight: 600;
  font-size: 16px;
  color: #0f172a;
}

.order-body-bill-pay p:last-child{
  font-weight: 700;
  font-size: 16px;
  color: #D32030;
}

/* .order-group-list{
  padding: 10px 0px;
} */

.order-group-list h6 span{
  font-weight: 400;
  font-size: 14px;
  color: #10A35E;
}

.order-group-list-header{
  display: flex;
  justify-content: space-between;
}

.order-group-list-header button{
  border: none;
  background-color: #EDF2F7;
  padding: 4px 12px;
  border-radius: 8px;
  margin: 10px 0px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 14px;
}

.order-group-list-header button i{
  margin-left: 5px;
}

.order-payment-information p {
  margin-bottom: 5px;
}

.order-quantity {
  display: flex;
}

.order-quantity button {
  background-color: #f8fafc;
  color: #0f172a;
  border: transparent;
  border-radius: 8px;
  padding: 12px 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-quantity span {
  background-color: #fff;
  border: 1px solid #e8ebf0;
  border-radius: 8px;
  padding: 12px 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.order-body-main td {
  vertical-align: middle;
}

.order-contact-history {
  width: 25%;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 8px;
  height: fit-content;
}

.order-contact-history div:first-child{
  margin-bottom: 20px
}

.order-contact-history h6 {
  margin-bottom: 20px;
  font-weight: 600;
}

.order-contact-history p{
  margin-bottom: 5px;
}

.order-contact-history p:first-child{
  color: #64748B;
}

.modal-body input, .modal-body textarea{
  margin-bottom: 15px;
}

.modal-content {
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.create-receive-bill-modal input,
textarea {
  border: 1px solid #edf2f7 !important;
}

.btn-cancel-modal {
  background-color: #eff5ff;
  padding: 6px 12px;
  transition: 0.15s all;
}

.btn-cancel-modal:hover {
  background-color: #eff5ff;
  opacity: 0.75;
  transition: 0.15s all;
}

.order-contact-note-box{
  display: flex;
  justify-content: space-between;
}

.order-contact-note-box div{
  width: 48%
}

.modal-add-group-list-added{
  text-align: right;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

table{
  border-radius: 4px;
  overflow: hidden;
}

.modal-add-group-list .form-control{
  padding: .375rem .75rem;
  margin-bottom: 0;
}

.modal-add-group-list th{
  padding: 20px 16px;
  
}

.modal-add-group-list td{
  padding: 10px 16px;
  vertical-align: middle;
}
