* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f9;
}

main {
  display: flex;
}

aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.nav-item {
  width: 90%;
}

.nav-row i {
  width: 20%;
  color: #64748b;
  font-size: 12px;
}

.nav-item i {
  font-size: 18px;
}

nav section span {
  width: 70%;
}

nav a {
  color: #64748b;
  text-decoration: none;
}

nav a:hover {
  color: #0f172a;
  text-decoration: none;
}

.nav-item-active {
  color: #0f172a;
  font-weight: 500;
}

.header-right {
  width: 20%;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.schedule-content {
  width: 85%;
  margin-left: 18%;
  margin-right: 3%;
}

.schedule-filter {
  display: flex;
}

.schedule-filter .schedule-filter-item {
  width: 20%;
  margin-right: 5px;
}

.schedule-filter .schedule-filter-item label {
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
}
*/ .schedule-filter .schedule-filter-item option {
  font-weight: 500;
  font-size: 14px;
}

.schedule-add-tour i {
  margin-left: 5px;
}

.schedule-detail-table {
  border-radius: 4px;
  overflow: hidden;
}

.schedule-detail {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.schedule-detail tr {
  padding: 8px 0px;
}

.schedule-detail th {
  padding: 20px 16px;
}

.schedule-detail td {
  padding: 10px 0px 10px 16px;
  vertical-align: middle;
}

.schedule-detail p {
  margin: 0;
}

.schedule-detail-information p{
  font-size: 14px;
  font-weight: 400;
  color: #475569;
}

.schedule-detail-information p:first-child{
  font-weight: 500;
  font-size: 16px;
  color: #1E293B;
}

.schedule-detail-information i{
  text-align: center;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.schedule-detail-id {
  color: #1890ff !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.schedule-detail-information {
  width: 30%;
}

.schedule-detail-sold {
  text-align: center;
}

.schedule-detail-holding {
  text-align: center;
}

.schedule-detail-empty {
  text-align: center;
}

.schedule-detail-full {
  text-align: center;
}

.schedule-detail-empty h6 {
  color: #1dbe68;
}

.schedule-detail-status {
  text-align: center;
}

.schedule-detail-status button {
  background-color: #f0fff4;
  color: #10a35e;
  border: transparent;
  padding: 4px 16px 4px 16px;
  border-radius: 200px;
}

.schedule-detail-status-full {
  text-align: center;
}

.schedule-detail-status-full button {
  background-color: #eff5ff;
  color: #1890ff;
  border: transparent;
  padding: 4px 12px 4px 12px;
  border-radius: 200px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.schedule-detail-action-disable button {
  background-color: #cbd5e1;
  padding: 4px 12px 4px 12px;
  border: transparent;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
}

.add-tour-body-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.schedule-add-tour-modal select p{
  
}

.schedule-add-tour-modal p {
  font-size: 14px;
  font-weight: 400;
  color: #94a3b8;
}

.add-tour-body-item {
  width: 48%;
  color: #64748b;
}

.schedule-add-tour-modal label {
  font-weight: 400;
  font-size: 16px;
  color: #94a3b8;
}

.form-control,
.form-select {
  padding: 10px 16px;
}

.modal-body input,
.modal-body textarea {
  margin-bottom: 15px;
}

.modal-content {
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.form-control,
.form-select {
  padding: 10px 16px;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
  margin-bottom: 15px;
}

.add-tour-price-set {
  border: 1px solid #EDF2F7;
  border-radius: 4px;
  margin-bottom: 15px;
}

.add-tour-price-set table{
  margin-bottom: 0;
}

.add-tour-price-set tr th{
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #0F172A;
}

.add-tour-price-set tr td{
  vertical-align: middle;
  width: 50%;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 14px;
  color: #0F172A;
}

.add-tour-price-set td input{
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  color: #0F172A;
}

.add-tour-type label{
  font-weight: 400;
  font-size: 14px;
  color: #0F172A;
}

.add-tour-vat label{
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.add-tour-reservation span{
  font-weight: 400;
  font-size: 16px;
  color: #0F172A;
}

.add-tour-reservation i{
  color: #1D92FF;
  margin-left: 5px;
  cursor: pointer;
}